<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
</head>
<body>
  <h1>Bem-vindo!!!</h1>
  
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Digite o nome da comida" />
    <button type="submit">Pesquisar</button>
  </form>
</body>
</html>
